
<div class="headerContainer row-xs-12">
  <ul >

     <li class="headerItem"> 
          <button class="customItem" 
          (click)="onClick('element1')"
          >Algorithms</button> 
     </li>
     <li class="headerItem">
          <button class="customItem"
          (click)="onClick('element2')"
          >Listing</button>
     </li>
     <li class="headerItem">
          <button class="customItem"
          (click)="onClick('element3')"
          >Vision</button>
     </li>
     <li class="headerItem">
         <button class="customItem"
         (click)="onClick('element4')"
         >Technology</button>
     </li>

  </ul>
</div>